<header data-am-widget="header" class="am-header am-header-default my-header">
    <div class="am-header-left am-header-nav">
        <a href="javascript:app.page.back();">
            <i class="am-header-icon am-icon-chevron-left"></i>
        </a>
    </div>
    <h1 class="am-header-title">
        <a href="#title-link" id="app-page-title"></a>
    </h1>
    <div class="am-header-right am-header-nav">
        <a href="javascript:app.page.home();">
            <i class="am-header-icon  am-icon-home"></i>
        </a>
    </div>
</header>