<!--底部-->
<div data-am-widget="navbar" class="am-navbar am-cf my-nav-footer " id="">
    <ul class="am-navbar-nav am-cf am-avg-sm-3 my-footer-ul">
        <li>
            <a href="javascript:app.page.home();" >
                <span class="am-icon-home"></span>
                <span class="am-navbar-label">首页</span>
            </a>
        </li>
        <li>
            <a href="javascript:app.page.open('product/fast');" >
                <span class="am-icon-usd"></span>
                <span class="am-navbar-label">快贷</span>
            </a>
        </li>
        <li>
            <a href="javascript:app.page.open('product/popular');">
                <span class=" am-icon-credit-card"></span>
                <span class="am-navbar-label">热门</span>
            </a>
        </li>
        <li>
            <a href="javascript:app.page.open('account/info');">
                <span class="am-icon-heart"></span>
                <span class="am-navbar-label">我的</span>
            </a>
        </li>
    </ul>
</div>