<div class="uchome-info">
    <div class="uchome-info-uimg">
        <img src="resource/images/img1.jpg" />
    </div>
    <div class="uchome-info-uinfo">
        <p style="font-size: 10px;margin: 0px;padding:25px; ">
            <span id="userMobile"></span><br>
            [<a href="#" id="logoutBtn" class="white">退出登录</a>]
        </p>
    </div>
</div>

<!--头部导航-->
<div class="am-cf uchome-nav">
    <ul class="am-avg-sm-5">
        <li><a href="#">邀请:0</a></li>
    </ul>
</div>

<div class="am-cf uchome-apps" style="height:356px">
    <ul class="am-avg-sm-3 uchome-apps-ul">
        <li><a href="#"><p class="imgp"><img src="resource/images/yqhy.gif" class="am-img-responsive" /></p><p class="namep">邀请好友</p><p class="lastp">0笔</p></a></li>
        <li><a href="#"><p class="imgp"><img src="resource/images/uhomeapp1.png" class="am-img-responsive" /></p><p class="namep">修改密码</p><p class="lastp">0笔</p></a></li>
        <li><a href="#"><p class="imgp"><img src="resource/images/uhomeapp8.png" class="am-img-responsive" /></p><p class="namep">关注公众号</p><p class="lastp">￥0</p></a></li>
    </ul>
</div>

<script>
    app.page.loadPage(function() {
        app.page.config.title = '会员中心';
        app.page.config.pageTitle = '会员中心';

        $('#logoutBtn').click(() => {
            app.auth.logout();
        });
        app.auth.getUser().then((user) => {
            if (user) {
                $('#userMobile').text(user.mobile);
            } else {
                app.page.login();
            }
        });
    });
</script>
